@import "tailwindcss";

body {
  background-color: #0d0d0d;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  color: #fff;
}
